@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
    background-color: white;
}

/* styles/globals.css */
:root {
    --color-bg: #ffffff;
    /* Light theme background */
    --color-text: #000000;
    /* Light theme text */
}

/* Default light theme styles */
[data-theme='light'] {
    --background-color: #ffffff;
    --text-color: #000000;
}

/* Dark theme styles */
[data-theme='dark'] {
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
}

[data-theme='dark'] .dark-theme:hover {
    background-color: hsl(210, 10%, 62%);
    /* Example: A green background on hover */
    color: #fff;
    /* White text color on hover */
    transform: scale(1.05);
    /* Slightly scale up the element */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

[data-theme='dark'] .them {
    color: white;
}

[data-theme='dark'] .them:hover {
    color: black;
}

[data-theme='dark'] .Quiz-theme {
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
}

/* Earthy theme styles */
[data-theme='Earthy'] {
    --background-color: #F2D4A4;
    /* Custom background color */
    --text-color: #000;
    /* Custom text color */
}

[data-theme='Earthy'] .dark-theme:hover {
    background-color: #E7B884;
    /* Example: A green background on hover */
    color: #000;
    /* White text color on hover */
    transform: scale(1.05);
    /* Slightly scale up the element */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

[data-theme='Earthy'] .them {
    background-color: #374F54;
    color: white;
}

[data-theme='Earthy'] .Quiz-theme {
    --background-color: #2F3E46;
    /* Custom background color */
    --text-color: #d5f2ec;
    /* Custom text color */
}

[data-theme='Earthy'] .navbar {
    background-color: #D29656;
}

[data-theme='Earthy'] .leaderboard {
    background-color: #E7B884;
}

[data-theme='Earthy'] .table-auto {
    background-color: #E7B884;
}

[data-theme='Earthy'] .footer {
    background-color: #E7B884;
    border: #E7B884;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}



::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.react-calendar-heatmap .color-scale-1 {
    fill: #d6e685;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #8cc665;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #44a340;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #1e6823;
}