[data-theme='light'] {
    --background-color: #F2D4A4;
    /* Custom background color */
    --text-color: #000;
    /* Custom text color */
}

[data-theme='light'] .dark-theme:hover {
    background-color: #E7B884;
    /* Example: A green background on hover */
    color: #000;
    /* White text color on hover */
    transform: scale(1.05);
    /* Slightly scale up the element */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

[data-theme='light'] .them {
    background-color: #374F54;
    color: white;
}

[data-theme='light'] .Quiz-theme {
    --background-color: #2F3E46;
    /* Custom background color */
    --text-color: #d5f2ec;
    /* Custom text color */
}

[data-theme='light'] .navbar {
    background-color: #D29656;
}

[data-theme='light'] .leaderboard {
    background-color: #E7B884;
}

[data-theme='light'] .table-auto {
    background-color: #E7B884;
}

[data-theme='light'] .footer {
    background-color: #E7B884;
    border: #E7B884;
}